.nav {
  background-color: black;
  border-color: black;
  border-width: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 2rem;
}

.nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.nav li:hover{
  text-decoration: overline;
}

.nav li.active {
  text-decoration: overline;
}